.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #aaa;
  background-color: #f9f9f9;
}
.header img {
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 12px;
}
.info a {
  text-decoration: none;
}
.headerMain {
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
}
.headerDate {
  font-style: italic;
  font-size: 16px;
}
.dark {
  background-color: #22272f;
  border-bottom: 1px solid rgb(60, 60, 60);
}

.light {
  background-color: white;
}
