.pagination {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
}

.pageNumber {
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.pageNumber:disabled {
  cursor: default;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.arrow:disabled {
  cursor: default;
}
